{% extends 'navbar.html' %}
{% block nav %}

<h1 style="text-align: center; color: rgb(2, 63, 112);"><u>CAR WASH</u></h1>

<div style="height: 500px; background-color: white;">
    <h1
        style="font-size:60px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; margin-top: 170px; margin-left: 100px;">
        Book a premium 60-min<br> car wash at your<br> doorstep.</h1> <br> <h6 style="margin-left: 105px;">Pressure wash with powerful equipments, starting at ₹349.</h6> <br> <button style="margin-left: 285px; margin-top: 0px; width: 180px; height: 40px;" class="btn btn-success">BOOK NOW</button>

    <div>

        <div>
            <img style="height: 560px; width: 550px; margin-top: -430px; margin-left: 955px;"
                src="../static/images/c wash vector.jpg" alt="">
        </div><br><br><br><br><br><br>
        <hr>

        <div>
            <strong>
                <h1
                    style="text-align: center; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ; ">
                    Premium Materials Used</h1>
            </strong><br>
            <h3 style="text-align: center;">We use only premium industry-best products, carefully chosen for proper care of <br>your car.</h3>
        </div><br><br><br>
<div>
    <div>
        <img style="height: 280px; width: 320px; margin-top: 50px; margin-left: 130px;" src="../static/images/shampoo.png" alt="">
        <h5 style="margin-left: 250px; margin-top: -15px;">3M Exterior<br>Shampoo</h5>
    </div>

    <div>
        <img style="height: 290px; width: 320px; margin-top: -400px; margin-left: 465px;" src="../static/images/dash polish.png" alt="">
        <h5 style="margin-left: 555px; margin-top: -85px;">3M Dashboard <br>Dresser</h5>
    </div>

    <div>
        <img style="height: 280px; width: 290px; margin-top: -400px; margin-left: 790px;" src="../static/images/pressure washer.png" alt="">
        <h5 style="margin-left: 900px; margin-top: -95px;">Pressure <br>Wash</h5>
    </div>

    <div>
        <img style="height: 270px; width: 325px; margin-top: -415px; margin-left: 1100px;" src="../static/images/vaccum cleaner.png" alt="">
        <h5 style="margin-left: 1220px; margin-top: -105px;"> Interior<br>Vacuum</h5>
    </div>
</div><br><br><br><br><br><hr>

<div style="height: 1530px;">
    <div>
        <strong> <h1 style="text-align: center; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ; " >What's Included</h1></strong><br>
        <h3 style="text-align: center;">Garage-H Car Wash is a transparent process where your exteriors and interiors are professionally cleaned.
        </h3>
    </div>

    <div>
        <img style="margin-top: 100px; margin-left: 900px; height: 350px; width: 400px;" src="../static/images/pressure wash.jpg" alt="">
    </div>
    
    <div style="margin-top: -320px; margin-left: -900px;">
        <strong>
            <h3
                style="text-align: center; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;color: rgb(2, 63, 112); ">
                <u>Pressure Foam Wash</u></h3>
        </strong><br>
        <h5 style="text-align: center;">A powerful pressure wash machine is used to clean your <br> car effectively with water. Foam wash using 3M <br> Shampoo gives you can a perfect shine by removing <br>persistent dirt stains and marks from the body. <br>
            <span><img style="height: 11px; width: 11px;" src="../static/images/tick.png" alt=""></span>  Pressure wash machine<br>
            <span><img style="height: 11px; width: 11px;" src="../static/images/tick.png" alt=""></span>3M Shampoo for foam<br>
            <span><img style="height: 11px; width: 11px;" src="../static/images/tick.png" alt=""></span>Less than 2 buckets of water <br></h5>
    </div>





    <div>
        <img style="margin-top: 200px; margin-left: 100px; height: 350px; width: 400px;" src="../static/images/interior vaccum.jpg" alt="">
    </div>
    
    <div style="margin-top: -300px; margin-left: 730px;">
        <strong>
            <h3
                style="text-align: center; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;color: rgb(2, 63, 112); ">
                <u>Power Interior Vacuum</u></h3>
        </strong><br>
        <h5 style="text-align: center;">Car interiors are cleaned with a high-quality powerful <br>vacuum machine that removes the majority of ingrained<br>dust from the car seats and floors. <br>
            <span><img style="height: 11px; width: 11px;" src="../static/images/tick.png" alt=""> Deep dust removal</span><br>
            <span><img style="height: 11px; width: 11px;" src="../static/images/tick.png" alt="">Powerful suction capacity</span><br>
            <span><img style="height: 11px; width: 11px;" src="../static/images/tick.png" alt="">Connects to an external AC source</span><br></h5>
    </div><br><br><br>





    <div>
        <img style="margin-top: 100px; margin-left: 900px; height: 350px; width: 400px;" src="../static/images/dash polishing.jpg" alt="">
    </div>

    <div style="margin-top: -320px; margin-left: -900px;">
        <strong>
            <h3
                style="text-align: center; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;color: rgb(2, 63, 112); ">
                <u>Tyre & Dashboard Polish</u></h3>
        </strong><br>
        <h5 style="text-align: center;">Dashboard dressing effectively restores gloss to plastic, <br> vinyl and rubber surfaces and protects surfaces from UV <br>rays & fading. <br>
            <span><img style="height: 11px; width: 11px;" src="../static/images/tick.png" alt=""></span>3M products only<br>
            <span><img style="height: 11px; width: 11px;" src="../static/images/tick.png" alt=""></span>Dashboards, Door Panels, Trims<br>
            <span><img style="height: 11px; width: 11px;" src="../static/images/tick.png" alt=""></span>Restore tyre shine <br></h5>
    </div>


</div><hr>


<div style="height: 555px; background-color:rgb(56, 55, 55)">
    
    <div style="height: 0px; width: 0px; margin-top: 0px; margin-left: 0px;" >
      <img src="../static/images/garage h.jpg" style="margin-top: 57px; margin-left: 50px; height: 80px; width: 240px;" alt="">
    </div>

  <div style="font-family: Circular-Std-Bold;">


    <div style="margin-top: 47px; margin-left: 620px; color: white;"> 
      <h2 style="margin-left: 0px; margin-top: 0px;">About Us</h2>
      <h6>
        Team <br> Blog <br> Contact Us <br> Chat With Us
      </h6>
    </div>
    
    
    <div style="margin-top: -136px; margin-left: 910px; color: white;">
      <h2 style="margin-left: 0px; margin-top: 0px;">Services</h2>
      <h6>Periodic service <br> Car Wash <br> Wheel Allignment <br> Car Polish <br> Ceramic Coating</h6>
    </div>
    
    <div style="margin-top: -148px; margin-left: 1180px; color: white;"> 
      <h2 style="margin-left: 0px; margin-top: 0px;">Cities</h2>
      <h6>Kerala <br> Ahmedabad<br>Bangalore<br>Chennai<br>Delhi NCR<br>Gurgaon<br>Hyderabad<br>Kolkata<br>Mumbai<br>Pune</h6>
    </div>
  </div>




    <div>
      <h3 style="margin-top: 18px; margin-left: 104px; color: white;">Follow US</h3>


      <div id="contact" style="padding: 5px; margin-top: 5px; margin-left: 62px;">


        <a href=""><i class="fa-brands fa-facebook fa-2x "
            style="color: #fdfcfc; "></i></a>
        &nbsp;&nbsp;&nbsp;&nbsp;
  
        <a href=""> <i class="fa-brands fa-instagram fa-2x"
            style="color: #fffcfc;"></i></a>
        &nbsp;&nbsp;&nbsp;&nbsp;
  
        <a href=""><i class="fa-brands fa-whatsapp fa-2x" style="color: #f8f5f5;"></i></a> &nbsp;&nbsp;&nbsp;&nbsp;
  
        <a href=""><i class="fa-brands fa-youtube   fa-2x"  style="color: #f8f5f5;" ></i></a>
  
      </div>

      <div style="margin-top: 65px; margin-left: 65px;">
        <a style="color: white;" href="">Terms&Conditions&nbsp;|&nbsp;</a>
        <a style="color: white;"  href="/privacy-policy">Privacy Policy&nbsp;</a>
      </div>

      <div style="margin-top: 12px; margin-left: 64px;">
        <p style="color: white;">
          © Humble Mobile Solutions Pvt. Ltd. All Rights Reserved <br>
           112, 17th Main Rd, 5th Block, Koramangala, Bengaluru, Bengaluru Urban, Karnataka 560095. All Rights Reserved.
        </p>
      </div>

      <div style="margin-top: -162px; margin-left: 1313px; ">
        <a href=""><i class="fa-solid fa-wrench  fa-8x"  style="color: #f8f5f5;" ></i></a>
      </div>





    </div>



    

</div>


{% endblock %}