{% extends 'navbar.html' %}
{% block nav %}


<h1 style="text-align: center; color:  rgb(2, 63, 112);"><U>CAR POLISH AND CERAMIC COATING</U></h1>

<div style="height: 500px; background-color: white;">
    <h1
        style="font-size:60px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; margin-top: 170px; margin-left: 100px;">
        Shine Your Car With <br> GARAGE-H Ceramic Coating <br> And Detailing</h1><br> <button style="margin-left: 285px; margin-top: 0px; width: 180px; height: 40px;" class="btn btn-success">BOOK NOW</button>

    <div>

        <div>
            <img style="height: 520px; width: 500px; margin-top: -360px; margin-left: 1000px;"
                src="../static/images/detailing.png" alt="">
        </div><br><br><br><br><br><br>
        <hr>

        <div>
            <strong>
                <h1
                    style="text-align: center; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ; color: rgb(2, 63, 112); ">
                    Premium Materials Used</h1>
            </strong><br>
            <h3 style="text-align: center;">We use only premium industry-best products, carefully chosen for proper care of <br>your car.</h3>
        </div><br><br><br>
<div>
    <div>
        <img style="height: 300px; width: 300px; margin-top: 50px; margin-left: 420px;" src="../static/images/3m polish.png" alt="">
        <h5><p style="margin-left: 563px; margin-top: -23px;">3M </p><br><p  style="margin-left: 509px; margin-top: -38px;" >Machine Polish</p></h5>
    </div>


    <div>
        <img style="height: 323px; width: 310px; margin-top: -427px; margin-left: 826px;" src="../static/images/ceramic (1).png" alt="">
        <h5 > <p style="margin-left: 963px; margin-top: -92px;">10H</p><br>
            <p style="margin-left: 914px; margin-top: -37px;" >Ceramic Coating</p></h5>
    </div>
</div><br><br><br><br><br><hr>

<div style="height: 1150px;">
    <div>
        <strong> <h1 style="text-align: center; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ; color: rgb(2, 63, 112); " >Detailing Services </h1></strong><br>
        <h3 style="text-align: center;">Car care and maintenace can be a hefty affair with working weekdays and busy weekends. We have <br> partnered with India’s best car servicing partners to fix your car.
        </h3>
    </div>

    <div>
        <img style="margin-top: 100px; margin-left: 900px; height: 350px; width: 400px;" src="../static/images/caar polishing.jpg" alt="">
    </div>
    
    <div style="margin-top: -320px; margin-left: -900px;">
        <strong>
            <h3
                style="text-align: center; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;color: rgb(2, 63, 112); ">
                <u>CAR POLISHING SERVICES</u></h3>
        </strong><br>
        <h5 style="text-align: center;">We have the best workers for the detailing work <br>of your car and we only use Best quality produtcs,<br> top qualified experts, all this with industry-best offers. <br>
            <span><img style="height: 11px; width: 11px;" src="../static/images/tick.png" alt=""></span>Remove Scratches<br>
            <span><img style="height: 11px; width: 11px;" src="../static/images/tick.png" alt=""></span>Paint Correction<br>
            <span><img style="height: 11px; width: 11px;" src="../static/images/tick.png" alt=""></span>High shine<br></h5>
    </div>





    <div>
        <img style="margin-top: 200px; margin-left: 100px; height: 350px; width: 400px;" src="../static/images/ceramic coating.jpg" alt="">
    </div>
    
    <div style="margin-top: -300px; margin-left: 730px;">
        <strong>
            <h3
                style="text-align: center; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;color: rgb(2, 63, 112); ">
                <u>CAR CERAMIC COATING SERVICES</u></h3>
        </strong><br>
        <h5 style="text-align: center;">We have the best ceramic liquid to protect your <br> car from Rain,Scrathes,Dust etc.<br>your cars will shine like never before. <br>
            <span><img style="height: 11px; width: 11px;" src="../static/images/tick.png" alt=""></span>Hydrophobic Effect<br>
            <span><img style="height: 11px; width: 11px;" src="../static/images/tick.png" alt=""></span>10H Protection<br>
            <span><img style="height: 11px; width: 11px;" src="../static/images/tick.png" alt=""></span>UV Protection<br>
            <span><img style="height: 11px; width: 11px;" src="../static/images/tick.png" alt=""></span>Permanant Protection<br>
            <span><img style="height: 11px; width: 11px;" src="../static/images/tick.png" alt=""></span>Extreme Gloss<br>

        </h5>
    </div>

</div><hr>


<div style="height: 555px; background-color:rgb(56, 55, 55)">
    
    <div style="height: 0px; width: 0px; margin-top: 0px; margin-left: 0px;" >
      <img src="../static/images/garage h.jpg" style="margin-top: 57px; margin-left: 50px; height: 80px; width: 240px;" alt="">
    </div>

  <div style="font-family: Circular-Std-Bold;">


    <div style="margin-top: 47px; margin-left: 620px; color: white;"> 
      <h2 style="margin-left: 0px; margin-top: 0px;">About Us</h2>
      <h6>
        Team <br> Blog <br> Contact Us <br> Chat With Us
      </h6>
    </div>
    
    
    <div style="margin-top: -136px; margin-left: 910px; color: white;">
      <h2 style="margin-left: 0px; margin-top: 0px;">Services</h2>
      <h6>Periodic service <br> Car Wash <br> Wheel Allignment <br> Car Polish <br> Ceramic Coating</h6>
    </div>
    
    <div style="margin-top: -148px; margin-left: 1180px; color: white;"> 
      <h2 style="margin-left: 0px; margin-top: 0px;">Cities</h2>
      <h6>Kerala <br> Ahmedabad<br>Bangalore<br>Chennai<br>Delhi NCR<br>Gurgaon<br>Hyderabad<br>Kolkata<br>Mumbai<br>Pune</h6>
    </div>
  </div>




    <div>
      <h3 style="margin-top: 18px; margin-left: 104px; color: white;">Follow US</h3>


      <div id="contact" style="padding: 5px; margin-top: 5px; margin-left: 62px;">


        <a href=""><i class="fa-brands fa-facebook fa-2x "
            style="color: #fdfcfc; "></i></a>
        &nbsp;&nbsp;&nbsp;&nbsp;
  
        <a href=""> <i class="fa-brands fa-instagram fa-2x"
            style="color: #fffcfc;"></i></a>
        &nbsp;&nbsp;&nbsp;&nbsp;
  
        <a href=""><i class="fa-brands fa-whatsapp fa-2x" style="color: #f8f5f5;"></i></a> &nbsp;&nbsp;&nbsp;&nbsp;
  
        <a href=""><i class="fa-brands fa-youtube   fa-2x"  style="color: #f8f5f5;" ></i></a>
  
      </div>

      <div style="margin-top: 65px; margin-left: 65px;">
        <a style="color: white;" href="">Terms&Conditions&nbsp;|&nbsp;</a>
        <a style="color: white;"  href="/privacy-policy">Privacy Policy&nbsp;</a>
      </div>

      <div style="margin-top: 12px; margin-left: 64px;">
        <p style="color: white;">
          © Humble Mobile Solutions Pvt. Ltd. All Rights Reserved <br>
           112, 17th Main Rd, 5th Block, Koramangala, Bengaluru, Bengaluru Urban, Karnataka 560095. All Rights Reserved.
        </p>
      </div>

      <div style="margin-top: -162px; margin-left: 1313px; ">
        <a href=""><i class="fa-solid fa-wrench  fa-8x"  style="color: #f8f5f5;" ></i></a>
      </div>





    </div>



    

</div>




{% endblock nav %}
