{% extends 'navbar.html' %}
{% block nav %}


<h1 style="text-align: center; color: rgb(2, 63, 112);"><u>WHEEL ALLIGNMENT</u></h1>

<div style="height: 500px; background-color: white;">
    <h1
        style="font-size:60px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; margin-top: 170px; margin-left: 100px;">
        The Best <br> Wheel Allignment Machine <br> And Equipments.</h1><br> <button style="margin-left: 285px; margin-top: 0px; width: 180px; height: 40px;" class="btn btn-success">BOOK NOW</button>

    <div>

        <div>
            <img style="height: 440px; width: 500px; margin-top: -440px; margin-left: 1000px;"
                src="../static/images/wheel vector.jpg" alt="">
        </div><br><br><br><br><br><br>
        <hr>

        <div>
            <strong>
                <h1
                    style="text-align: center; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ; ">
                    Wheel Alignment Necessary?</h1>
            </strong><br>
            <h3 style="text-align: center;">At the end of the day, you’ll want to ensure that your car is aligned as quickly <br> and accurately as possible to get back on the road. Wheel alignments are critical to ensure <br> that your vehicle runs at peak performance.</h3>
        </div><br><br><br>
<div>
 

    <div>
        <img style="height: 270px; width: 260px; margin-top: 27px; margin-left: 400px;" src="../static/images/wheel logo1.jpg" alt="">
        <h5 style="margin-left: 460px; margin-top: -39px;">Wheel scanning<br>&stableizing</h5>
    </div>

    <div>
        <img style="height: 280px; width: 270px; margin-top: -341px; margin-left: 800px;" src="../static/images/wheel logo2.jpg" alt="">
        <h5 style="margin-left: 900px; margin-top: -80px;">Wheel <br> Balancing</h5>
    </div>

</div><br><br><br><br><br><hr>

<div style="height: 1150px;">
    <div>
        <strong> <h1 style="text-align: center; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ; " >Package Include</h1></strong><br>
        <h3 style="text-align: center;">Car care and maintenace can be a hefty affair with working weekdays and busy weekends. We have <br> partnered with India’s best car servicing partners to fix your car.
        </h3>
    </div>

    <div>
        <img style="margin-top: 100px; margin-left: 900px; height: 350px; width: 400px;" src="../static/images/wheeel allignment image.jpg" alt="">
    </div>
    
    <div style="margin-top: -320px; margin-left: -900px;">
        <strong>
            <h3
                style="text-align: center; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;color:rgb(2, 63, 112) ; ">
                <u>PRIMARY ANGLES</u></h3>
        </strong><br>
        <h5 style="text-align: center;">The primary angles are the basic angle alignment of the wheels <br> relative to each other and to the car body. These adjustments are <br> the camber, caster and toe. <br>
            <span><img style="height: 11px; width: 11px;" src="../static/images/tick.png" alt=""></span> Front: Caster (left & right)<br>
            <span><img style="height: 11px; width: 11px;" src="../static/images/tick.png" alt=""></span>Front: Camber (left & right)<br>
            <span><img style="height: 11px; width: 11px;" src="../static/images/tick.png" alt=""></span>Front: Toe (left, right & total) <br>
            <span><img style="height: 11px; width: 11px;" src="../static/images/tick.png" alt=""></span>Rear: Camber (left & right)<br>
            <span><img style="height: 11px; width: 11px;" src="../static/images/tick.png" alt=""></span>Rear: Toe (left, right & total)<br></h5>
    </div>





    <div>
        <img style="margin-top: 238px; margin-left: 100px; height: 350px; width: 400px;" src="../static/images/wheel balance image.jpg" alt="">
    </div>
    
    <div style="margin-top: -340px; margin-left: 730px;">
        <strong>
            <h3
                style="text-align: center; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;color: rgb(2, 63, 112); ">
                <u>SECONDARY ANGLES</u></h3>
        </strong><br>
        <h5 style="text-align: center;">The secondary angles include numerous other adjustments, such as: <br>
            <span><img style="height: 11px; width: 11px;" src="../static/images/tick.png" alt=""></span>SAI (Steering Axis Inclination)<br>
            <span><img style="height: 11px; width: 11px;" src="../static/images/tick.png" alt=""></span>Included angle<br>
            <span><img style="height: 11px; width: 11px;" src="../static/images/tick.png" alt=""></span>Toe out on turns<br>
            <span><img style="height: 11px; width: 11px;" src="../static/images/tick.png" alt=""></span>Maximum Turns<br>
            <span><img style="height: 11px; width: 11px;" src="../static/images/tick.png" alt=""></span>Toe curve change<br>
            <span><img style="height: 11px; width: 11px;" src="../static/images/tick.png" alt=""></span>Track width difference<br>
            <span><img style="height: 11px; width: 11px;" src="../static/images/tick.png" alt=""></span>Wheelbase difference<br>
            <span><img style="height: 11px; width: 11px;" src="../static/images/tick.png" alt=""></span>Front ride height<br>
            <span><img style="height: 11px; width: 11px;" src="../static/images/tick.png" alt=""></span>Rear ride height<br>
            <span><img style="height: 11px; width: 11px;" src="../static/images/tick.png" alt=""></span>Frame angle<br>
            <span><img style="height: 11px; width: 11px;" src="../static/images/tick.png" alt=""></span>Setback<br></h5>
    </div>

</div><hr>


<div style="height: 555px; background-color:rgb(56, 55, 55)">
    
    <div style="height: 0px; width: 0px; margin-top: 0px; margin-left: 0px;" >
      <img src="../static/images/garage h.jpg" style="margin-top: 57px; margin-left: 50px; height: 80px; width: 240px;" alt="">
    </div>

  <div style="font-family: Circular-Std-Bold;">


    <div style="margin-top: 47px; margin-left: 620px; color: white;"> 
      <h2 style="margin-left: 0px; margin-top: 0px;">About Us</h2>
      <h6>
        Team <br> Blog <br> Contact Us <br> Chat With Us
      </h6>
    </div>
    
    
    <div style="margin-top: -136px; margin-left: 910px; color: white;">
      <h2 style="margin-left: 0px; margin-top: 0px;">Services</h2>
      <h6>Periodic service <br> Car Wash <br> Wheel Allignment <br> Car Polish <br> Ceramic Coating</h6>
    </div>
    
    <div style="margin-top: -148px; margin-left: 1180px; color: white;"> 
      <h2 style="margin-left: 0px; margin-top: 0px;">Cities</h2>
      <h6>Kerala <br> Ahmedabad<br>Bangalore<br>Chennai<br>Delhi NCR<br>Gurgaon<br>Hyderabad<br>Kolkata<br>Mumbai<br>Pune</h6>
    </div>
  </div>




    <div>
      <h3 style="margin-top: 18px; margin-left: 104px; color: white;">Follow US</h3>


      <div id="contact" style="padding: 5px; margin-top: 5px; margin-left: 62px;">


        <a href=""><i class="fa-brands fa-facebook fa-2x "
            style="color: #fdfcfc; "></i></a>
        &nbsp;&nbsp;&nbsp;&nbsp;
  
        <a href=""> <i class="fa-brands fa-instagram fa-2x"
            style="color: #fffcfc;"></i></a>
        &nbsp;&nbsp;&nbsp;&nbsp;
  
        <a href=""><i class="fa-brands fa-whatsapp fa-2x" style="color: #f8f5f5;"></i></a> &nbsp;&nbsp;&nbsp;&nbsp;
  
        <a href=""><i class="fa-brands fa-youtube   fa-2x"  style="color: #f8f5f5;" ></i></a>
  
      </div>

      <div style="margin-top: 65px; margin-left: 65px;">
        <a style="color: white;" href="">Terms&Conditions&nbsp;|&nbsp;</a>
        <a style="color: white;"  href="/privacy-policy">Privacy Policy&nbsp;</a>
      </div>

      <div style="margin-top: 12px; margin-left: 64px;">
        <p style="color: white;">
          © Humble Mobile Solutions Pvt. Ltd. All Rights Reserved <br>
           112, 17th Main Rd, 5th Block, Koramangala, Bengaluru, Bengaluru Urban, Karnataka 560095. All Rights Reserved.
        </p>
      </div>

      <div style="margin-top: -162px; margin-left: 1313px; ">
        <a href=""><i class="fa-solid fa-wrench  fa-8x"  style="color: #f8f5f5;" ></i></a>
      </div>





    </div>



    

</div>





{% endblock nav %}
